<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{  static_url('layui/css/layui.css') }}"  media="all">
  <title>welcome to science lab!</title>
  <style type="text/css">
      .divForm{
          position: absolute;/*绝对定位*/
          width: 600px;
          height: 200px;

          text-align: center;/*(让div中的内容居中)*/
          top: 50%;
          left: 50%;
          margin-top: -200px;
          margin-left: -150px;
      }
  </style>
</head>
<body>

    <!--<div class="divForm">-->
        <!--<form id ="form1" class="layui-form layui-form-pane" action="/register" method="POST">-->
            <!--<input type="hidden" name="_token" value="{{ csrf_token() }}" />-->
            <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-inline">-->
                    <!--<h2>science lab</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">用户名</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="uname" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">邮箱</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="mail" lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">密码</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="password" name="passwd" placeholder="请输入密码" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">确认密码</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="password" name="repasswd" placeholder="请输入密码" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-inline">-->
                    <!--{% if errmsg %}<div class="layui-bg-red">{{ errmsg }}</div>{% end %}-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-inline">-->
                    <!--<button class="layui-btn" lay-submit lay-filter="submit" id="login" type="submit" >登录</button>-->
                <!--</div>-->
            <!--</div>-->
    <!--</form>-->
    <!--</div>-->

<!--<script src="{{ static_url('layui/layui.js') }}" charset="utf-8"></script>-->
<!--<script>-->

<!--</script>-->
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>layuiAdmin</h2>
        <p>welcome to science lab!</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>
          <input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="邮箱" class="layui-input">
        </div>
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
              <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="验证码" class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="LAY-user-getsmscode">获取验证码</button>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" name="nickname" id="LAY-user-login-nickname" lay-verify="nickname" placeholder="昵称" class="layui-input">
        </div>
        <div class="layui-form-item">
          <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">注 册</button>
        </div>
      </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

      <p>© 2018 <a href="http://www.layui.com/" target="_blank">layui.com</a></p>
      <p>
        <span><a href="http://www.layui.com/admin/#get" target="_blank">获取授权</a></span>
        <span><a href="http://www.layui.com/admin/pro/" target="_blank">在线演示</a></span>
        <span><a href="http://www.layui.com/admin/" target="_blank">前往官网</a></span>
      </p>
    </div>

  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user'], function(){
    var $ = layui.$
    ,setter = layui.setter
    ,admin = layui.admin
    ,form = layui.form
    ,router = layui.router();

    form.render();

    //提交
    form.on('submit(LAY-user-reg-submit)', function(obj){
      var field = obj.field;

      //确认密码
      if(field.password !== field.repass){
        return layer.msg('两次密码输入不一致');
      }

      //是否同意用户协议
      if(!field.agreement){
        return layer.msg('你必须同意用户协议才能注册');
      }

      //请求接口
      admin.req({
        url: layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
        ,data: field
        ,done: function(res){
          layer.msg('注册成功', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            location.hash = '/user/login'; //跳转到登入页
          });
        }
      });

      return false;
    });
  });
  </script>

</body>
</html>